<li class="bookTypeItem">
    <img class="bookCover" src="<% bookType.imgUrl %> " alt=" <% bookType.title %> ">
    <h1 class="bookTitle"><%- bookType.title %> </h1>
    <p class="bookAuthor"><%- bookType.author %> </p>
</li>